@use 'colors';

.body {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contactImage {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.profileImage {
    border-radius: 50%;
}

.buttonSpacing {
    padding: 2rem;
}

.addButton {
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 24px;
    background-color: colors.$primary-color;
    height: 70px;
    width: 250px;
    border-radius: 20px;
}

.socialsText {
    font-size: 19px;
    font-weight: bold;
    padding: 5rem 2rem 1rem 2rem;
    text-align: center;
}

.iconRow {
    width: 90vw;
    padding: .5rem 0rem 2rem 0;
    display: flex;
    justify-content: space-around;
}

.logoWrapper {
    position: relative;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
}

.contactLogo {
    padding: 10px !important;   
}